% -*- mode: Erlang; -*-
{cover_enabled, true}.
{cover_print_enabled, true}.
{edoc_opts, [{overview, "priv/overview.edoc"}, {def, []}, {dir, "doc"}]}.
{erl_opts, [inline, inline_list_funcs]}.
{deps, [{base32, ".*",
         {git, "https://github.com/aetrion/base32_erlang.git", "master"}}
       ]}.
{eunit_opts, [verbose]}.
