% -*- mode: Erlang; -*-
{cover_enabled, true}.
{cover_print_enabled, true}.
{edoc_opts, [{overview, "priv/overview.edoc"}, {def, []}, {dir, "doc"}]}.
{erl_opts, [debug_info,
            inline, inline_list_funcs,
            {platform_define, "^[0-9]+", namespaced_types}
]}.
{deps, [{base32, ".*",
         {git, "https://github.com/aetrion/base32_erlang.git", "master"}}
       ]}.
{eunit_opts, [verbose]}.



{provider_hooks, [
    {pre, [
        {compile, {asn, compile}}
    ]},
    {post, [
        {clean, {asn, clean}}
    ]}
]}.