% -*- mode: Erlang; -*-
{cover_enabled, true}.
{cover_print_enabled, true}.
{edoc_opts, [{overview, "priv/overview.edoc"}, {def, []}, {dir, "doc"}]}.
{erl_opts, [inline, inline_list_funcs, {i,"asn1_gen"}]}.
{deps, [{base32, 
         {git, "https://github.com/aetrion/base32_erlang.git",{branch, "master"}}}
       ]}.
{eunit_opts, [verbose]}.

%% get asn1 to build
{plugins, [
    { rebar3_asn1_compiler, "1.0.0"}
]}.


{provider_hooks, [
  {pre,
      [{clean,   {asn1, clean}},
       {compile, {asn1, compile}}]}
]}.
