---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Run YAML Lint
        uses: actionshub/yamllint@v1.8.3

  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Run markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
          config_file: ".markdownlint.yaml"

  test:
    name: OTP ${{matrix.otp}}
    strategy:
      matrix:
        otp: ['28', '27']
        rebar3: ['3.26']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          rebar3-version: ${{matrix.rebar3}}
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/rebar3
            _build
          key: ${{ runner.os }}-erlang-${{ matrix.otp }}-rebar3-${{ matrix.rebar3 }}-hash-${{hashFiles('rebar.lock')}}
      - run: make build
      - run: make test
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: _build/test/covertool/dns_erlang.covertool.xml
          parallel: true

  finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Close parallel build
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
