---

name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run YAML Lint
        uses: actionshub/yamllint@main

  markdownlint-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.4.0
        with:
          files: .
          config_file: ".markdownlint.yaml"

  test:
    name: OTP ${{matrix.otp}}
    strategy:
      matrix:
        otp: ['27', '26', '25']
        rebar3: ['3.24']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          rebar3-version: ${{matrix.rebar3}}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/rebar3
            _build
          key: ${{ runner.os }}-erlang-${{ matrix.otp }}-rebar3-${{ matrix.rebar3 }}-hash-${{hashFiles('rebar.lock')}}
      - run: make build
      - run: make test
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: _build/test/covertool/dns_erlang.covertool.xml
